.text {
    font-weight: 600;
    background: linear-gradient(75deg, rgba(253, 55, 31, 1) 0%, rgba(253, 56, 32, 1) 0%, rgba(255, 132, 75, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
    -webkit-text-fill-color: transparent; /*给文字设置成透明*/
}

.text2 {
    font-weight: 600;
    background: linear-gradient(78deg, rgba(31, 39, 253, 1) 0%, rgba(255, 132, 75, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
    -webkit-text-fill-color: transparent; /*给文字设置成透明*/
}
